# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
# Editor directories and files
.env
commands/sympa.js
commands/insult.js
features/aiReply.js
features/callTTS.js
commands/imagine.js
commands/ask.js
commands/sms.js
commands/mail.js
py/*
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
